.question-img{
    height:25px;
    width:30px;
    margin: 0 6px 0 0;
    background: 5.3% 1% url('img/jive-icon-sprites-big.png'), 
    -moz-linear-gradient(bottom, #ffffff, #ffffff);

    background: 5.3% 1% no-repeat url('img/jive-icon-sprites-big.png'), 
    -webkit-linear-gradient(bottom, #ffffff, #ffffff);

    background: right no-repeat url('img/jive-icon-sprites-big.png'), 
    linear-gradient(bottom, #ffffff, #ffffff);
    border-top-width: 120px;
    padding-top: 2px;
    padding-top: 2px;
    border-right-width: 0px;
    border-bottom-width: 59px;
    padding-left: 30px;
    padding-bottom: 8px;

}
.nothing
{
   border-collapse:collapse !important;
   border-style : none;
}

#primary td
{
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    width:1% !important;
}
#primary table
{
    border-style:none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.img
{
    width:18px;
}
.user-name
{
    padding-top:23px !important;
}
.algn-right
{
    text-align:right;
}
.small-font{
    font-size:10px !important;
}
.divider{
    border: 1px solid #efefef;
}
.color{
    background-color: #efefef;
    padding: 5px;
}
.position-right{
    text-align:right;
}
.space{
    padding-left:9%;
}
<!--  winjit 2nd Feb 15  -->
.grade, .grade1 {
	width:24%;
}
.thumb {
	width: 96%!important;
	margin:2% !important;
}
@media screen and (min-width:500px) and (max-width:800px)   {
.grade, .grade1{
	width:49% !important;
}

}
@media screen and (max-width:499px)  {
.grade, .grade1{
	width:98% !important;
	height:150px !important;
}

}
<!-- End  winjit 2nd Feb 15  -->